<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Group_1_Huynh_Xuan_Guyn_9.My.MySettings.ConnectionString"
            connectionString="Data Source=LAPTOP-E2K5JO10\GUYNIT;Persist Security Info=True;User ID=sa;Password=guynhuynh123;User Instance=False"
            providerName="System.Data.SqlClient" />
        <add name="Group_1_Huynh_Xuan_Guyn_9.My.MySettings.ConnectionString1"
            connectionString="Provider=SQLNCLI11;Data Source=LAPTOP-E2K5JO10\GUYNIT;Persist Security Info=True;Password=guynhuynh123;User ID=sa;Initial Catalog=QLVMB"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>