USE [master]
GO
/****** Object:  Database [QLVMB]    Script Date: 6/17/22 1:26:02 PM ******/
CREATE DATABASE [QLVMB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVMB', FILENAME = N'D:\Microsoft SQL Server\DATA\QLVMB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLVMB_log', FILENAME = N'D:\Microsoft SQL Server\DATA\QLVMB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVMB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVMB]
GO
/****** Object:  Table [dbo].[ChuyenBay]    Script Date: 6/17/22 1:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenBay](
	[MaCB] [varchar](10) NOT NULL,
	[DiemKhoiHanh] [nvarchar](40) NULL,
	[DiemDen] [nvarchar](40) NULL,
	[ThoiGianBay] [nvarchar](30) NULL,
	[NgayDi] [varchar](10) NULL,
	[NgayVe] [varchar](10) NULL,
 CONSTRAINT [PK_ChuyenBay] PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/17/22 1:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[CMND] [varchar](12) NULL,
	[tenKH] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinDatVe]    Script Date: 6/17/22 1:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinDatVe](
	[MaTTDV] [int] IDENTITY(1,1) NOT NULL,
	[MaVe] [varchar](10) NULL,
	[MaCB] [varchar](10) NULL,
	[MaKH] [varchar](10) NULL,
	[SoLuongNguoi] [int] NULL,
	[NgayDat] [varchar](10) NULL,
 CONSTRAINT [PK_ThongTinDatVe] PRIMARY KEY CLUSTERED 
(
	[MaTTDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 6/17/22 1:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [varchar](10) NOT NULL,
	[HangBay] [nvarchar](50) NULL,
	[GiaVe] [float] NULL,
	[TinhTrangVe] [nvarchar](40) NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChuyenBay] ([MaCB], [DiemKhoiHanh], [DiemDen], [ThoiGianBay], [NgayDi], [NgayVe]) VALUES (N'cb001', N'TP Huế', N'Hồ Chí Minh', N'1 Tiếng', N'2022-06-17', N'2022-07-24')
INSERT [dbo].[ChuyenBay] ([MaCB], [DiemKhoiHanh], [DiemDen], [ThoiGianBay], [NgayDi], [NgayVe]) VALUES (N'cb002', N'Đà Nẵng', N'Hà Nội', N'55 Phút', N'03/03/2022', N'07/06/2022')
INSERT [dbo].[ChuyenBay] ([MaCB], [DiemKhoiHanh], [DiemDen], [ThoiGianBay], [NgayDi], [NgayVe]) VALUES (N'cb003', N'Hà Nội', N'Hồ Chí Minh', N'2 Tiếng', N'2022-02-08', N'2022-06-17')
GO
INSERT [dbo].[KhachHang] ([MaKH], [CMND], [tenKH], [SDT]) VALUES (N'HCM01', N'193098785', N'Ann', N'0111111112')
INSERT [dbo].[KhachHang] ([MaKH], [CMND], [tenKH], [SDT]) VALUES (N'HN01', N'192012382', N'Hoàng', N'0123456789')
INSERT [dbo].[KhachHang] ([MaKH], [CMND], [tenKH], [SDT]) VALUES (N'QB01', N'192011233', N'Bình', N'0123456789')
GO
SET IDENTITY_INSERT [dbo].[ThongTinDatVe] ON 

INSERT [dbo].[ThongTinDatVe] ([MaTTDV], [MaVe], [MaCB], [MaKH], [SoLuongNguoi], [NgayDat]) VALUES (5, N've002', N'cb003', N'QB01', 2, N'2022-07-24')
INSERT [dbo].[ThongTinDatVe] ([MaTTDV], [MaVe], [MaCB], [MaKH], [SoLuongNguoi], [NgayDat]) VALUES (8, N've003', N'cb001', N'HCM01', 3, N'2022-03-03')
INSERT [dbo].[ThongTinDatVe] ([MaTTDV], [MaVe], [MaCB], [MaKH], [SoLuongNguoi], [NgayDat]) VALUES (9, N've001', N'cb002', N'HN01', 2, N'2022-02-08')
SET IDENTITY_INSERT [dbo].[ThongTinDatVe] OFF
GO
INSERT [dbo].[Ve] ([MaVe], [HangBay], [GiaVe], [TinhTrangVe]) VALUES (N've001', N'VietNam AirLine', 350000, N'Còn vé')
INSERT [dbo].[Ve] ([MaVe], [HangBay], [GiaVe], [TinhTrangVe]) VALUES (N've002', N'Vietjet Air', 800000, N'Còn vé')
INSERT [dbo].[Ve] ([MaVe], [HangBay], [GiaVe], [TinhTrangVe]) VALUES (N've003', N'Bamboo AirLine', 150000, N'Còn vé')
GO
ALTER TABLE [dbo].[ThongTinDatVe]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinDatVe_ChuyenBay] FOREIGN KEY([MaCB])
REFERENCES [dbo].[ChuyenBay] ([MaCB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinDatVe] CHECK CONSTRAINT [FK_ThongTinDatVe_ChuyenBay]
GO
ALTER TABLE [dbo].[ThongTinDatVe]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinDatVe_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinDatVe] CHECK CONSTRAINT [FK_ThongTinDatVe_KhachHang]
GO
ALTER TABLE [dbo].[ThongTinDatVe]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinDatVe_Ve] FOREIGN KEY([MaVe])
REFERENCES [dbo].[Ve] ([MaVe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinDatVe] CHECK CONSTRAINT [FK_ThongTinDatVe_Ve]
GO
USE [master]
GO
